# ============================================================
# Python
# ============================================================

.venv/
venv/
__pycache__/
*.py[cod]

# ============================================================
# Python environment / local configuration
# ============================================================

.env

# ============================================================
# SUMO generated output
# ============================================================

*.log
*.tripinfo.xml
*.emission.xml
*.fcd.xml
*.netstate.xml
*.summary.xml
*.sqlite

# ============================================================
# IDE / editor
# ============================================================

.vscode/
.idea/

# ============================================================
# Windows
# ============================================================

Thumbs.db
Desktop.ini

# ============================================================
# Temporary files
# ============================================================

*.tmp
*.bak